@CHARSET "ISO-8859-1";

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #2775a5 !important;
}

.geral {
	background-color: white;
	border-radius: 10px 10px;
}

h2 {
	text-align: center;
}

.formLogin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.formLogin .form-signin-heading, .formLogin {
	margin-bottom: 10px;
}

.formLogin {
	font-weight: normal;
}

.formLogin .inputs {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.formLogin .inputs:focus {
	z-index: 2;
}

.formLogin {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.formLogin {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}