body {
	background-image:
		url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQ6YsqlXyzuFdmjWdNEGhUvE2kHtmW_g3yOtBPWGGwiMpPCNo);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #000;
}